# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Recording files
*.cast

# IDE
.vscode/
.idea/
*.swp
*.swo
push-both.sh
